<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>Embed your app here</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<iframe width="900" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=e60e80c0-0dd5-48a4-b531-96b7fa4b5b8e&autoAuth=true&ctid=b0bbfcf0-2801-4b1d-b2cd-32c8f93dc764&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1lLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>